body{
    font-family: 'Courier New', Courier, monospace;
}
.site-heading-lower{
    font-family: 'Courier New', Courier, monospace;
}
.mb-3{
    font-family: 'Courier New', Courier, monospace;
    color: blue !important;
}
.notyellow{
    color: red; !important; 
}
.intro-text{ 
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);
}